@import "~@angular/material/theming";
@include mat-core();

$dark-primary: mat-palette($mat-red);
$dark-accent: mat-palette($mat-green, 100, 500, A100);
$dark-warn: mat-palette($mat-grey);
$dark-theme: mat-light-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

// Alternate Angular Material Theme
.my-alternate-theme {
  @include angular-material-theme($dark-theme);
}
