<!-- <br />
<br /><br /><br /> -->
<!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
<!-- 
<br /><br /> --><!-- card  -->
<!-- 
<div class="gamezone">
  <img
    src="../../../assets/img/kevin-borrill-AoMd3sk9Cw0-unsplash.jpg"
    alt=""
  />
</div> -->
<!-- <img src="../../../assets/img/kevin-borrill-AoMd3sk9Cw0-unsplash.jpg" alt="" /> -->
<div class="gamesection">
  <div class="background">
    <div class="gamezone">
      <div class="imgcontainer">
        <img src="../../../assets/img/gamezone.png" alt="" />
      </div>
      <div class="heading">
        <h3>GAMEZONE</h3>
      </div>
    </div>

    <div id="mainContent">
      <figure class="gameCard">
        <img src="../../../assets/img/pong.png" alt="sample108" />
        <figcaption (click)="startgame('pong')">
          <h3>Ping Pong</h3>
          <p>
          
          </p>
        </figcaption>
      </figure>
      <!-- <button >start</button> -->
      <!-- <a routerLink="/pong"><button>start pong</button></a> -->

      <figure class="gameCard">
        <img src="../../../assets/img/car3.jpg" alt="sample100" />
        <figcaption (click)="startgame('car')">
          <h3>Car</h3>
          <p>
           
          </p>
        </figcaption>
        <!-- <a routerLink="/car"></a> -->
      </figure>
      <!-- <button >start</button> -->
      <figure class="gameCard">
        <img src="../../../assets/img/rps.png" alt="sample101" />
        <figcaption (click)="startgame('rps')">
          <h3>Rock Papper Sissors</h3>
          <p>
           
          </p>
        </figcaption>
        <!-- <a routerLink="/rps"></a> -->
      </figure>
     
    </div>
    <br /><br /><br /><br />
  </div>
</div>
