<!DOCTYPE html>
<body>
	<div class="container">
		<div class="box">
			<div class="content">
                <img src="../../../assets/img/quiz.jpg" alt="">
				<h2>{{category}}</h2>
				<h1>{{category}} Quiz</h1>
				<h1>{{QuizResult?.quizname}}</h1>
				<h3>
                    Total Questions : {{totalQuestions}}
                </h3>
					<a (click)="startQuiz()">Start Quiz</a>							
			</div>
		</div>

		
	</div>
</body>



<!-- <button class="btn btn-info" (click)="startQuiz()">Start</button> -->

