<!DOCTYPE html>
<div class="body">
  <section>
    <div class="box">
      <h2 data-jarallax-element="0 -200">GK</h2>
      <div class="container">
        <div class="imgBx jarallax">
          <img src="../../../assets/img/gk.png" class="jarallax-img">
        </div>
        <div class="content" data-jarallax-element="0 -200">
          <p>
            What is Lorem Ipsum Lorem Ipsum is simply dummy text of 
            the printing and typesetting industry Lorem Ipsum has been 
            the industry's standard dummy text ever since the 1500s 
            when an unknown printer took a galley of type and scrambled 
            it to make a type specimen book it has?
          </p>
          <!-- <button mat-raised-button color="primary" routerLink="/Quiz/1">Attempt Quiz</button> -->
          <!-- <a routerLink="/Quiz/category/gk" (click)="attemptClicked()"> -->
            <a (click)="attemptClicked('Quiz/category/gk')">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            View Quizzes  
          </a>

        </div>
      </div>
    </div>
  </section> 
  <section>
    <div class="box">
      <h2 data-jarallax-element="0 -200">Brain Teasers</h2>
      <div class="container">
        <div class="imgBx jarallax">
          <img src="../../../assets/img/bt.jpg" class="jarallax-img">
        </div>
        <div class="content" data-jarallax-element="0 -200">
          <p>
            What is Lorem Ipsum Lorem Ipsum is simply dummy text of 
            the printing and typesetting industry Lorem Ipsum has been 
            the industry's standard dummy text ever since the 1500s 
            when an unknown printer took a galley of type and scrambled 
            it to make a type specimen book it has?
          </p>
          <!-- <button mat-raised-button color="primary" routerLink="/Quiz/2">Attempt Quiz</button> -->
          <!-- <a routerLink="/Quiz/category/brain teaser" (click)="attemptClicked()"> -->
            <a (click)="attemptClicked('Quiz/category/brainteasers')">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            View Quizzes  
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- <script>
    alert("hii");
    jarallax(document.querySelectorAll('.jarallax'), {
    speed: 0.2
    });
  </script> -->
  
</div>