<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
    crossorigin="anonymous"
  />
  <title>Contact Us page</title>
</head>
<body>
  <section class="contact">
    <div class="content">
      <h2>Contact Us</h2>
      <br />
      <p>
        Bestify your time is the best place to fight your boredom and will
        definitely test your knowledge as well as boost your lazy brain
      </p>
      <br />
      <br />
    </div>

    <div class="container">
      <div class="contactInfo">
        <div class="box">
          <div class="icon"><i class="fas fa-map-marker-alt"></i></div>

          <div class="text">
            <h3>Address</h3>
            <p>
              Cybage Software, Adarsh Nagar, Kalyani Nagar, Pune, Maharashtra
              411014
            </p>
          </div>
        </div>
        <br />

        <div class="box">
          <div class="icon"><i class="fas fa-phone"></i></div>
          <div class="text">
            <h3>Phone</h3>
            <p>9452166340</p>
            <p>020 6604 1700</p>
          </div>
        </div>

        <br />

        <div class="box">
          <div class="icon"><i class="fas fa-envelope"></i></div>
          <div class="text">
            <h3>Email</h3>
            <p>CybageHelpDesk@cybage.com</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</body>
